*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: rgb(242, 238, 239);
}
.intro{
    justify-content: center;
    align-items: center;
    background-color: #778899;
    /* margin-top: 40px; */
    /* margin-bottom: 30px; */
    /* padding-top: 20px; */
}
.intro img{
    /* margin-left: 10px;
    margin-right: 15px; */
    border-radius: 200px;
    background-color: white;
    padding: 10px;
}
.intro a{
    /* display: inline-block; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 60px;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.resume-btn{
    font-size: 20px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px;
}
.intro p{
    margin-top: 5px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    font-style: italic;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 5px;
    /* margin-bottom: 20px; */
    position: sticky;
    top: 0;
    
    /* background-color: rgb(242, 238, 239); */
}
.navbar a{
    margin: 0 15px;
    display: inline-block;
    padding: 10px;
    background-color: lightslategrey;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid black;
}
#sections{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 50px;
    margin-left: 50px;
    margin-right: 20px;
    height: 50vh;
}
#sections a{
    margin: 0 15px;
    /* display: inline-block; */
    padding: 10px;
    background-color: rgba(119, 136, 153, 0.326);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid black;
    font-size: 70px;
}
.description{
    background-color: lightslategrey;
    padding: 20px;
}
.description h1{
    text-align: center;
    font-size: 50px;
}
.description p{
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
}
#education, #skills, #projects, #achievements{
    background-color: rgb(242, 238, 239);
    padding: 20px;
    margin-top: 20px;
}
#socials{
    padding: 20px;
    margin-top: 20px;
}
#socials a{
    display: inline-block;
    margin-right: 15px;
    margin-top: 5px;
    padding: 10px;
    background-color: lightslategrey;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid black;
}
#FAQs{
    background-color: rgb(242, 238, 239);
    padding: 20px;
    margin-top: 20px;
}
.footer{
    background-color: rgba(225, 219, 211, 0.521);
    padding-bottom: 40px;
    padding-top: 20px;
}
#contact-form{
    background-color: rgb(242, 238, 239);
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 20px;
    font-size: 40px;
}
#contact-form h2{
    margin-bottom: 80px;
    /* padding-top: 30px; */
}
#name, #email, #message{
    padding: 10px;
    font-size: 25px;
}
#button{
    font-size: 20px;
    text-decoration: none;
    border-radius: 6px;
    /* font-weight: bold; */
    border: 2px solid gray;
    padding: 10px;
}
#checkbox{
    /* width: 20px;
    height: 20px; */
    padding-top: 5px;
    padding-left: 7px;
    font-size: 27px;
}
#HTML, #CSS, #JavaScript{
    display: inline-block;
    margin-right: 15px;
    /* margin-top: 5px; */
    padding: 10px;
}
#achievements{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 100vh;
}
#achievements h2{
    font-size: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#achievements ul{
    font-size: 30px;
    margin-top: 15px;
    
}