h1{
    color: rgb(242, 238, 239);
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
}
.intro img{
    margin-right: 15px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 238, 239);
}